.referal__search-header {
  .p-calendar {
    .p-inputtext {
      border-radius: 6px 0 0 6px !important;
    }
  }
  .p-button {
    border-radius: 0 6px 6px 0;
  }
}

.p-dialog-mask {
  z-index: 100 !important;
}
